<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<html>
<head></head>
<body id="testAppBody">
	<div class="titleColumn"></div>

	<div class = "titleText">
		<h2>Matthew<br> Wagh</h2>
	</div>
	<div class="social-links">
		<ul id="social-links">
			<li>
				<a href=""><h3><i class="fa fa-github" aria-hidden="true"></i></h3></a>
			</li>
			<li>
				<a href=""><h3><i class="fa fa-linkedin-square" aria-hidden="true"></i></h3></a>
			</li>
			<li>
				<a href=""><h3><i class="fa fa-envelope-o" aria-hidden="true"></i></h3></a>
			</li>
		</ul>
	</div>
	<div class="titleIcon">
		<h1><i class="fa fa-cogs" aria-hidden="true"></i></h1>
	</div>
	<div class ="nav">
		<ul id="nav-links">
			<li>
				<a href="/blog">
					<p><i class="fa fa-book" aria-hidden="true"></i></p>
					<p>Blog</p>
				</a>
			</li>
			<li>
				<a href="/projects">
					<p><i class="fa fa-cubes" aria-hidden="true"></i></p>
					<p>Projects</p>
				</a>
			</li>
			<li>
				<a href="/Contact">
					<p><i class="fa fa-envelope" aria-hidden="true"></i></p>
					<p>Contact</p>
				</a>
			</li>
		</ul>
	</div>
	<div class="mainText">
		<p>Welcome, I'm a (mostly) Python programmer based in London and currently working for <a href = 'http://www.simplifydigital.co.uk/'> SimplifyDigital</a> in the role of Senior Data Executive. As part of a small, close knit team I provide data analysis, dashboards and database tools with a focus on increasing the usability of our data. Get in contact with me using one of the links below.</p>
	</div>
</body>
</html>