<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<html>
<head></head>
<body id = "testAppBody">
	<div class="titleColumn"></div>

	<div class = "titleText">
		<h2>Matthew<br> Wagh</h2>
	</div>
	<div class="social-links">
		<ul id="social-links">
			<li>
				<a href=""><h3><i class="fa fa-github" aria-hidden="true"></i></h3></a>
			</li>
			<li>
				<a href=""><h3><i class="fa fa-linkedin-square" aria-hidden="true"></i></h3></a>
			</li>
			<li>
				<a href=""><h3><i class="fa fa-envelope-o" aria-hidden="true"></i></h3></a>
			</li>
		</ul>
	</div>
	<div class="titleIcon">
		<h1><i class="fa fa-cogs" aria-hidden="true"></i></h1>
	</div>
	<div class = "linkColumn">
		<p>My portfolio: An assortment of projects written in Python and C++.</p>
		<ul>
			<li>C++ Game Prototype</li>
			<img src="/static/game_img.png" alt="Testing the game" width="250" height="147">
			<li>Steam Review Aggregator</li>
		</ul>
	</div>
</body>